Makefile
Makefile.in
autom4te.cache
*.Plo
*.Po
*.o
*.lo
*.a
*.la
*.lai
*.so.*
*.so
*.gmo
config*
/aclocal.m4
/data/ario.desktop
/data/ario.desktop.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/plugins/audioscrobbler/audioscrobbler.ario-plugin
/plugins/filesystem/filesystem.ario-plugin
/plugins/information/information.ario-plugin
/plugins/libnotify/libnotify.ario-plugin
/plugins/mmkeys/mmkeys.ario-plugin
/plugins/radios/radios.ario-plugin
/plugins/wikipedia/wikipedia.ario-plugin
/po/.intltool-merge-cache
/po/POTFILES
/po/stamp-it
/src/AUTHORS.tab
/src/TAGS
/src/ario
/stamp-h1
